---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  autofix:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.6
      - run: aqua upc -prune
      - run: git ls-files | nllint -s -f
      - run: |
          git ls-files | grep -E "\.jsonnet$" | xargs -n 1 jsonnetfmt -i
          git ls-files | grep -E "\.libsonnet$" | xargs -n 1 jsonnetfmt -i
      - run: bash scripts/generate.sh
      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8 # v1.3.3
