name: Validate renovate.json5
permissions: {}

on:
  pull_request:
    branches:
      - main
    paths:
      - renovate.json5
      - .github/workflows/renovate.yaml
  push:
    branches:
      - main
    paths:
      - renovate.json5
      - .github/workflows/renovate.yaml
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@7ab3d8f19305664925f3e626580f075f14e40386 # v0.1.2
