---
name: Validate Presets
on:
  workflow_call:
    inputs:
      files:
        type: string
        required: true
jobs:
  validate-presets:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          # node-version: 24.1.0
          node-version: 22.21.1
      - env:
          FILES: ${{ inputs.files }}
        run: |
          if [ -z "$FILES" ]; then
            FILES=default.json
          fi
          echo "$FILES" | while read -r file; do
            if [ -f "$file" ]; then
              RENOVATE_CONFIG_FILE="$file" npx --package renovate -c renovate-config-validator
            fi
          done
